{% extends "base.html" %}

{% block app_content %}
  <h1>Sign In</h1>
  <form action="" class="form" method="POST" role="form">
    {{ form.csrf_token() }}
    <div class="form-floating col-md-6 mb-3">
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
        placeholder="User">
      <label for="username">Username</label>
    </div>
    <div class="form-floating col-md-6 mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
        placeholder="Password">
      <label for="password">Password</label>
    </div>
    <div class="form-check mb-3">
      <input
        type="checkbox"
        class="form-check-input"
        id="remember_me"
        name="remember_me"
        value="y"
        >
      <label class="form-check-label" for="remember_me">Remember Me</label>
    </div>
    <input
      type="submit"
      id="submit"
      value="Sign In"
      class="btn btn-primary btn-lg">
  </form>
  <br>
  <p>New User? <a href="{{ url_for('auth.register') }}">Register</a></p>
  <p>Forgot Your Password?
    <a href="#">Reset it</a>
  </p>
{% endblock %}
