{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
  <li class="breadcrumb-item">
    <a class="text-decoration-none text-light" href="#">Reset Password</a>
  </li>
</ol>
{% endblock %}

{% block app_content %}
  <h1>Forgot your password?</h1>
  <p>Enter the e-mail you used to register your account to
  reset your password.<p>
  <form action="" class="form" method="POST" role="form">
    {{ form.csrf_token() }}
    <div class="form-floating col-md-6 mb-3">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        placeholder="user@email.com">
      <label for="email">Email address</label>
    </div>
    <input
      type="submit"
      name="submit"
      id="submit"
      value="Send"
      class="btn btn-primary btn-lg">
  </form>
{% endblock %}
