{% extends 'base.html' %}

{% block styles %}
{{ super()  }}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
  <li class="breadcrumb-item">
    <a
      class="text-decoration-none text-light"
      href="#"
      >{{ DS.name }}</a>
  </li>
</ol>
{% endblock %}

{% block app_content %}
<div class="row">
  <div class="col-lg-12 m-4">
    {# <h2>DataTables 1.10.x example: Users and their address.</h2> #}
    <table id="dataTable" class="table" cellspacing="0" width="100%">
      <thead class="table-dark">
        <tr>
          <th>Image</th>
          {%- if sub_labs %}<th>Subject</th>{% endif -%}
          {%- if sess_labs %}<th>Session</th>{% endif -%}
          <th>Rating</th>
          <th>Rated on</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script
  type="text/javascript"
  src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js">
</script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js">
</script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    var table = $('#dataTable').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": "{{ url_for('dt.data', dset_id=DS.id, subs=sub_labs, sess=sess_labs) }}",
      "columnDefs": [
        {
          targets: [0],
          render: function ( data, type, row ) {
            if ( type === 'display' ) { {# NEED TO CHANGE IF rate_img URL CHANGES #}
              return "<a href='/rate/{{ DS.name }}/" + data +
                "?all_raters={{ all_raters }}" +
                "' class='text-dark text-decoration-none'>" + data + "</a>"
            }
            return data;
          },
          searchable: true
        },
        { targets: '_all', searchable: false },
        {
          targets: [-2],
          render: function ( data, type, row ) {
            if ( type === 'display' ) {
              switch(data) {
                case 1:
                  return "<a href=" +
                    "{{ url_for('main.rate', r_filter=1,
                      all_raters=all_raters, name_dataset=DS.name) }} "+
                    "class='text-success text-decoration-none'>Pass</a>";
                  break;
                case 2:
                  return "<a href=" +
                    "{{ url_for('main.rate', r_filter=2,
                      all_raters=all_raters, name_dataset=DS.name) }} "+
                    "class='text-warning text-decoration-none'>Warning</a>";
                  break;
                case 3:
                  return "<a href=" +
                    "{{ url_for('main.rate', r_filter=3,
                      all_raters=all_raters, name_dataset=DS.name) }} "+
                    "class='text-danger text-decoration-none'>Fail</a>";
                  break;
                default:
                  return "<a href=" +
                    "{{ url_for('main.rate', r_filter=0,
                      all_raters=all_raters, name_dataset=DS.name) }} "+
                    "class='text-secondary text-decoration-none'>Pending</a>";
              }
            }
            return data;
          }
        },
        {
          targets: [-1],
          render: function ( data, type, row ) {
            return data ? moment(data).format("LLL") : "Unrated";
          }
        }
      ]
    });
  });
</script>
{% endblock %}
