{% extends 'base.html' %}

{% block styles %}
{{ super()  }}
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.bootstrap5.min.css">
{#
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.bootstrap5.min.css">
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/scroller/2.0.3/css/scroller.bootstrap5.min.css">
#}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb m-0">
  <li class="breadcrumb-item">
    <a
      class="text-decoration-none text-light"
      href="#"
      >{{ DS.name }}</a>
  </li>
</ol>
{% endblock %}

{% block app_content %}
<div class="row">
  <div class="col-lg-12 my-3">
    {# <h2>DataTables 1.10.x example: Users and their address.</h2> #}
    <table id="dataTable" class="table" cellspacing="0" width="100%">
      <thead class="table-dark">
        <tr>
          <th class="image">Image name</th>
          {% if types %}<th class="type">Type</th>{% endif %}
          {% if subs %}<th class="subject">Subject</th>{% endif %}
          {% if sess %}<th class="session">Session</th>{% endif %}
          {% if cohorts %}<th class="cohort">Cohort</th>{% endif %}
          <th class="rating">Rating</th>
          {% if ratings %}<th class="rater">Rater</th>{% endif %}
          {% if ratings %}<th class="datetime">Rated on</th>{% endif %}
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script
  type="text/javascript"
  src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js">
</script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js">
</script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js">
</script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.bootstrap5.min.js">
</script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.colVis.min.js">
</script>
{#
<script
  type="text/javascript"
  src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js">
</script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/responsive/2.2.7/js/responsive.bootstrap5.min.js">
</script>
<script
  type="text/javascript"
  src="https://cdn.datatables.net/responsive/2.0.3/js/dataTables.scroller.min.js">
</script>
#}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    var table = $('#dataTable').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": ``"{{ url_for('dt.data', dset_id=DS.id,
                  all_raters=all_raters, only_ratings=only_ratings,
                  type=types, subject=subs, session=sess, cohort=cohorts,
                  ratings=ratings) }}",
      "lengthChange": false,
      "lengthMenu": [
          [ 10, 25, 50, 100 ],
          [ '10 rows', '25 rows', '50 rows', '100 rows' ]
      ],
      "columnDefs": [
        {
          targets: "image",
          render: function ( data, type, row ) {
            if ( type === 'display' ) {
              {# NEED TO CHANGE IF rate_img URL CHANGES #}
              return "<a href='/rate/{{ DS.name }}" +
                "?all_raters={{ all_raters }}" +
                "&image=" + data +
                "' class='link-dark text-decoration-none fw-light'>" +
                data + "</a>"
            }
            return data;
          },
          searchable: true
        },
        { targets: '_all', searchable: false },
        {
          targets: "rating",
          render: function ( data, type, row ) {
            if ( type === 'display' ) {
              switch(data) {
                case 1:
                  return "<a href=" +
                    "{{ url_for('main.rate', rating_filter=1,
                          all_raters=all_raters, name_dataset=DS.name) }} "+
                    "' class='link-success text-decoration-none fw-light'" +
                    ">Pass</a>";
                  break;
                case 2:
                  return "<a href=" +
                    "{{ url_for('main.rate', rating_filter=2,
                          all_raters=all_raters, name_dataset=DS.name) }} "+
                    "' class='link-warning text-decoration-none fw-light'" +
                    ">Warning</a>";
                  break;
                case 3:
                  return "<a href=" +
                    "{{ url_for('main.rate', rating_filter=3,
                            all_raters=all_raters, name_dataset=DS.name) }} "+
                    "' class='link-danger text-decoration-none fw-light'" +
                    ">Fail</a>";
                  break;
                default:
                  return "<a href=" +
                    "{{ url_for('main.rate', rating_filter=0,
                            all_raters=all_raters, name_dataset=DS.name) }} "+
                    "' class='link-secondary text-decoration-none fw-light'" +
                    ">Pending</a>";
              }
            }
            return data;
          }
        },
        {
          targets: "type",
          render: function ( data, type, row ) {
            if ( type === 'display' ) {
                return data ? "<a href='/rate/{{ DS.name }}" +
                  "?type_filter=" + data +
                  "&all_raters={{ all_raters }}" +
                  "' class='link-dark text-decoration-none fw-light'>" +
                  data + "</a>":
                      '<span class="text-muted fw-light"> NA</span>';
            }
            return data;
          }
        },
        {
          targets: "subject",
          render: function ( data, type, row ) {
            if ( type === 'display' ) {
                return data ? "<a href='/rate/{{ DS.name }}" +
                  "?sub_filter=" + data +
                  "&all_raters={{ all_raters }}" +
                  "' class='link-dark text-decoration-none fw-light'>" +
                  data + "</a>":
                      '<span class="text-muted fw-light"> NA</span>';
            }
            return data;
          }
        },
        {
          targets: "cohort",
          render: function ( data, type, row ) {
            if ( type === 'display' ) {
                return data ? "<a href='/rate/{{ DS.name }}" +
                  "?cohort_filter=" + data +
                  "&all_raters={{ all_raters }}" +
                  "' class='link-dark text-decoration-none fw-light'>" +
                  data + "</a>":
                      '<span class="text-muted fw-light"> NA</span>';
            }
            return data;
          }
        },
        {
          targets: "session",
          render: function ( data, type, row ) {
            if ( type === 'display' ) {
                return data ? "<a href='/rate/{{ DS.name }}" +
                  "?sess_filter=" + data +
                  "&all_raters={{ all_raters }}" +
                  "' class='link-dark text-decoration-none fw-light'>" +
                  data + "</a>":
                      '<span class="text-muted fw-light"> NA</span>';
            }
            return data;
          }
        },
        {
          targets: "rater",
          render: function ( data, type, row ) {
            if ( type === 'display' ) {
              return data ? '<span class="fw-light">' + data + '</span>':
                '<span class="text-muted fw-light"> Unrated</span>';
            }
            return data;
          }
        },
        {
          targets: "datetime",
          render: function ( data, type, row ) {
            return data ? '<span class="fw-light">' +
              moment(data).format('Y/MM/DD; HH:mm') + '</span>' :
              '<span class="text-muted fw-light"> Unrated</span>';
          }
        }
      ]
    });
    new $.fn.dataTable.Buttons( table, {
        buttons: [ 'pageLength', 'colvis' ]
    } );
    table.buttons().container()
    .appendTo( '#dataTable_wrapper .col-md-6:eq(0)' );
  });
</script>
{% endblock %}
