<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    {% block title %}
    <title>
      {% if title %}{{ title }} - Qrater
      {% else %}Qrater
      {% endif %}
    </title>
    {% endblock %}

    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    {% from "bootstrap/nav.html" import render_nav_item %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('main.dashboard') }}">
          Qrater
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#Navbar"
          aria-controls="Navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navbar">
          <div class="navbar-nav mr-auto">
            {{ render_nav_item("main.upload_dataset", "Upload Data") }}
          </div>
          <ul class="navbar-nav ml-auto">
            {% if current_user.is_anonymous %}
              {{ render_nav_item("auth.login", "Login", use_li=True) }}
            {% else %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ current_user.username }}
                </a>
                <div
                  class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <a
                    class="dropdown-item"
                    href="{{ url_for('auth.logout') }}">Logout
                  </a>
                </div>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    {% endblock %}

    {% block content %}
      <br>
      <div class="container">
        {% from "bootstrap/utils.html" import render_messages %}
        {{ render_messages() }}
      </div>

      <div class="container">
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
      </div>
    {% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
    {{ moment.include_moment() }}
    {% endblock %}
  </body>
</html>
