<div
  class="modal fade"
  id="helpModal"
  tabindex="-1"
  aria-labelledby="helpModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title lead" id="helpModalLabel">
          Keyboard shortcuts
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          ></button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-4 text-center"><kbd>?</kbd> or <kbd>h</kbd></dt>
          <dd class="col-8">Show this help</dd>
          <hr class="mt-2">
          <dt class="col-4 text-center">
            <kbd><i class="bi bi-arrow-right-short"></i></kbd>
          </dt>
          <dd class="col-8">Next image</dd>
          <dt class="col-4 text-center">
            <kbd><i class="bi bi-arrow-left-short"></i></kbd>
          </dt>
          <dd class="col-8">Previous image</dd>
          <hr class="mt-2">
          <dt class="col-4 text-center"><kbd>1</kbd></dt>
          <dd class="col-8">
            Mark as <span class="text-success">Pass</span>
          </dd>
          <dt class="col-4 text-center"><kbd>2</kbd></dt>
          <dd class="col-8">
            Mark as <span class="text-warning">Warning</span>
          </dd>
          <dt class="col-4 text-center"><kbd>3</kbd></dt>
          <dd class="col-8">
            Mark as <span class="text-danger">Fail</span>
          </dd>
          <dt class="col-4 text-center"><kbd>0</kbd></dt>
          <dd class="col-8">
            Mark as <span class="text-muted">Pending</span>
          </dd>
          <hr class="mt-2">
          <dt class="col-4 text-center"><kbd>c</kbd></dt>
          <dd class="col-8">Show/hide comment box</dd>
          <hr class="mt-2">
          <dt class="col-4 text-center"><kbd>z</kbd></dt>
          <dd class="col-8">Toggle Zoom</dd>
          <dt class="col-4 text-center">
            <kbd>shift</kbd> + <kbd><i class="bi bi-arrow-up-short"></i></kbd>
          </dt>
          <dd class="col-8">Zoom In</dd>
          <dt class="col-4 text-center">
            <kbd>shift</kbd> + <kbd><i class="bi bi-arrow-down-short"></i></kbd>
          </dt>
          <dd class="col-8">Zoom Out</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
